.addParticipantsForm-wrapper{
  position: absolute;
  top: 20%;
  left: 30%;
  background: none;
   & .addParticipants-items{
      background: #171717;
     border-radius: 0.5rem;
      width: 50rem;
      height: auto;

      & .item{
        display: flex;
        background: none;
        padding: 1.5rem;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &:hover{

          background: #565555;
          transition: all .3s ease-in-out;
        }
        & p{
          background: none;
          font-size: 1.5rem;
          color: white;
        }
        & .item-add {
          background: none;
          padding: 1rem;
          & button {
            width: 10rem;
            border-radius: 0.5rem;
            padding: 1rem;
            border: none;
            color: black;
            background: white;
            &:hover{
              transform: scale(110%);
              transition: all .3s ease-in-out;
            }
          }
        }
      }
   }
}
