.createNewBoard-section {
  display: flex;
  margin-top: 2.5rem;
  margin-left: 10.5rem;
  border-bottom: 1px black solid;
  background: none;

  & .createNewBoard-button {
    padding: 1rem;
    display: flex;
    margin-left: 3.5rem;
    & button {
      width: 15rem;
      font-size: 1.5rem;
      border-radius: 0.5rem;
      &:hover {
        transform: scale(110%);
        transition: all .3s ease-in-out;
      }
    }
  }

  & .createNewBoard-header {
    padding: 3rem;
    display: flex;

    & p {
      font-size: 1.5rem;
    }
  }
}

.allKanbanBoards-section {
  display: grid;
  grid-template-rows: 1fr 1fr ;
  margin-top: 3rem;
  padding-left: 14rem;
  background: none;

  & .allKanbanBoards-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 1rem;
    gap: 2rem;
    & a {
      width: auto;
      text-align: center;
      padding: 1rem;
      font-size: 1rem;
      border: 2px solid black;
      border-radius: 0.5rem;
      text-decoration: none;
      color: black;
      &:hover {
        transform: scale(110%);
        transition: all .3s ease-in-out;
      }
    }
  }
}
.CreateNewBoard-form{
  position: absolute;
  top: 5%;
  left: 40%;
  display: none;
  background:none;
   & form{
     width: 30rem;
     background: #171717;
     box-shadow:10px 10px 20px 10px rgba(0,0,0,.1);
     height: auto;
     display: flex;
     flex-direction: column;
     & .form-exit{
       background: none;
       margin-top: 1rem;
       margin-left: 20rem;
       margin-bottom: 2rem;
       & button {
         background: none;
         border: none;
         & img {
           background: none;
         }
         &:hover{
           transform: scale(110%);
           transition: all .3s ease-in-out;
         }
       }
     }
     & .form-header{
       background: none;
       margin-bottom: 2rem;
        & h1{
          color: white;
          background: none;
        }
     }
     & .form-name{
       background: none;
       margin-bottom: 2rem;
       & input[type="text"]{
         border: none;
         background: white;
         width: 20rem;
         height: 3rem;
         border-radius: 0.5rem;
         padding-left: 1rem;
       }
     }
     & .form-button{
       background: none;
       margin-bottom: 5rem;
       & button{
         width: 20rem;
         height: 2rem;
         font-size: 1rem;
         border-radius: 0.5rem;
         border: none;
         &:hover{
           transform: scale(110%);
           transition: all .3s ease-in-out;
         }
       }
     }
   }

}