body {
  height: 100vh;
}

.kanbanBoard-header {
  background: none;
}
.kanbanBoard-header .kanban-name {
  padding-left: 13rem;
  background-color: black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.kanbanBoard-header .kanban-name h1 {
  background: none;
  color: white;
  font-size: 1rem;
}

.kanbanBoard {
  margin-left: 12rem;
  margin-top: 1rem;
  display: flex;
  gap: 3rem;
  height: auto;
  background: none;
}
.kanbanBoard .toDo, .kanbanBoard .inProgress, .kanbanBoard .Done {
  background: rgba(206, 206, 206, 0.46);
  border-radius: 0.5rem;
  height: 100%;
  width: 33rem;
}
.kanbanBoard .toDo .toDo-header, .kanbanBoard .toDo .inProgress-header, .kanbanBoard .toDo .Done-header, .kanbanBoard .inProgress .toDo-header, .kanbanBoard .inProgress .inProgress-header, .kanbanBoard .inProgress .Done-header, .kanbanBoard .Done .toDo-header, .kanbanBoard .Done .inProgress-header, .kanbanBoard .Done .Done-header {
  background: white;
  border-radius: 0.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -2px 10px 10px rgba(0, 0, 0, 0.1);
}
.kanbanBoard .toDo .toDo-header h1, .kanbanBoard .toDo .inProgress-header h1, .kanbanBoard .toDo .Done-header h1, .kanbanBoard .inProgress .toDo-header h1, .kanbanBoard .inProgress .inProgress-header h1, .kanbanBoard .inProgress .Done-header h1, .kanbanBoard .Done .toDo-header h1, .kanbanBoard .Done .inProgress-header h1, .kanbanBoard .Done .Done-header h1 {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.header-button {
  background: none;
  padding-left: 1rem;
  padding-top: 0.3rem;
}
.header-button button {
  background: none;
  border: none;
}
.header-button button img {
  background: none;
  max-width: 1.5rem;
  max-height: 1.5rem;
}
.header-button button:hover {
  transform: scale(110%);
  transition: all 0.3s;
}

.createToDo {
  position: absolute;
  top: 0;
  background: none;
  display: none;
  left: 40%;
}
.createToDo form {
  background: #171717;
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
}
.createToDo form .exit-ToDoCreation {
  background: none;
  margin-left: 20rem;
  padding: 1rem;
}
.createToDo form .exit-ToDoCreation span {
  background: none;
  border: none;
}
.createToDo form .exit-ToDoCreation span img {
  background: none;
}
.createToDo form .exit-ToDoCreation span img:hover {
  transform: scale(110%);
  transition: all 0.3s;
}
.createToDo form .toDoCreation-header {
  padding: 2rem;
  background: none;
  color: white;
}
.createToDo form .toDoCreation-header h1 {
  color: white;
  background: none;
}
.createToDo form .toDoCreation-taskInput {
  padding: 2rem;
  background: none;
}
.createToDo form .toDoCreation-taskInput textarea {
  background: none;
  resize: none;
  width: 20rem;
  height: 5rem;
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 1rem;
  color: white;
}
.createToDo form .toDoCreation-submit {
  padding: 2rem;
  background: none;
}
.createToDo form .toDoCreation-submit button {
  color: white;
  background: none;
  border: none;
  font-size: 1.5rem;
}
.createToDo form .toDoCreation-submit button:hover {
  transform: scale(110%);
  transition: all 0.3s;
}

.toDo-items {
  background: none;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.toDo-items .items {
  display: flex;
  flex-direction: column;
  background: none;
  gap: 1rem;
}
.toDo-items .items .item {
  width: auto;
  height: auto;
  padding: 1rem;
  background: white;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.toDo-items .items .item p {
  background: none;
  padding: 1rem;
}

/*# sourceMappingURL=Kanban.css.map */
