$nameBg: black;
$nameColor: white;
body {
  height: 100vh;
}

.kanbanBoard-header {
  background: none;

  & .kanban-name {
    padding-left: 13rem;
    background-color: $nameBg;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    & h1 {
      background: none;
      color: $nameColor;

      font-size: 1rem;
    }
  }
}

.kanbanBoard {
  margin-left: 12rem;
  margin-top: 1rem;
  display: flex;
  gap: 3rem;
  height:auto;
  background: none;

  & .toDo, .inProgress, .Done {
    background: rgba(206, 206, 206, 0.46);
    border-radius: 0.5rem;
    height: 100%;
    width: 33rem;

    & .toDo-header, .inProgress-header, .Done-header {
      background: white;
      border-radius: 0.5rem;
      height: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: -2px 10px 10px rgba(0, 0, 0, .1);

      & h1 {
        background: none;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
      }
    }
  }
}

.header-button {
  background: none;
  padding-left: 1rem;
  padding-top: 0.3rem;

  & button {
    background: none;
    border: none;

    & img {
      background: none;
      max-width: 1.5rem;
      max-height: 1.5rem;
    }

    &:hover {
      transform: scale(110%);
      transition: all .3s;
    }
  }

}

.createToDo {
  position: absolute;
  top: 0;
  background: none;
  display: none;
  left: 40%;

  & form {
    background: #171717;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    & .exit-ToDoCreation{
      background: none;
      margin-left: 20rem;
      padding: 1rem;
       & span{
         background: none;
         border: none;
         & img{
           background: none;
           &:hover{
             transform: scale(110%);
             transition: all .3s;
           }
         }

       }
    }
    & .toDoCreation-header {
      padding: 2rem;
      background: none;
      color: white;

      & h1 {
        color: white;
        background: none;
      }
    }

    & .toDoCreation-taskInput {
      padding: 2rem;
      background: none;

      & textarea {
        background: none;
        resize: none;
        width: 20rem;
        height: 5rem;
        border: 1px solid white;
        border-radius: 0.5rem;
        padding: 1rem;
        color: white;
      }
    }

    & .toDoCreation-submit {
      padding: 2rem;
      background: none;

      & button {
        color: white;
        background: none;
        border: none;
        font-size: 1.5rem;
        &:hover{
          transform: scale(110%);
          transition: all .3s;
        }
      }
    }
  }
}
.toDo-items{
  background: none;
  padding: 2rem;
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & .items {
    display: flex;
    flex-direction: column;
    background: none;
    gap:1rem;
    & .item {
      width: auto;
      height: auto;
      padding: 1rem;
      background:white;
      border-radius: 0.5rem;
      display:flex;
      align-items: center;
      justify-content: center;
      & p {
        background: none;
        padding: 1rem;
      }
    }
  }
}