* {
  font-family: Poppins;
}
body{
  overflow-x: hidden;
  width: 100%;
}
.searchBar-wrapper {
  display: flex;
  box-shadow: 10px 20px 20px 10px rgba(0, 0, 0, .1);
  height: 3.8rem;

  & .searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7rem;


    & .searchBar-input {
      padding-left: 5rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      & input[type='search'] {
        width: 20rem;
        outline: none;
        border: none;
        background: rgba(0, 0, 0, 0.08);
        height: 2rem;
        border-radius: 1rem;
        padding-left: 1rem;

        &:focus {
          outline: none;
        }

      }

      & input[type="search"]::-webkit-search-decoration,
      input[type="search"]::-webkit-search-cancel-button,
      input[type="search"]::-webkit-search-results-button,
      input[type="search"]::-webkit-search-results-decoration {
        display: none;
      }
    }

    & .searchbar-profile {
      display: flex;
      margin-left: 74rem;
      padding-bottom: 0.5rem;
      & a {
        text-decoration: none;
        color: black;
        background: none;
        box-shadow: 0  2px  rgba(0,0,0,.1);
        border-radius: 1rem;
        padding: 0.7rem;
        font-size: 1srem;

        &:hover{
          transform: scale(110%);
          transition: all .3s ease-in-out;
        }
      &:last-child{
        text-decoration: none;
        color: black;
        background: none;
        box-shadow: 0  2px  rgba(0,0,0,.1);
        border-radius: 1rem;
        padding: 0.7rem;
      }
      }

      & p{
         font-size: 1rem;
        padding: 0.7rem;
         background: none;
      }

    }

  }

}