$fColor: black;
$logoSize: 2em;
$activeColor: gray;

body{
  height: 100vh;
}
.sidebar-wrapper {
  position: absolute;
  box-shadow: 10px 20px 20px 10px rgba(0, 0, 0, .1);
  width: 10.5rem;
  height: 100%;
  top: 0;

  & .sidebar {
   margin-top: 0.3rem;
    gap: 10rem;
    display: flex;
    flex-direction: column;

    & .sidebar-logo {
      margin-left: 2rem;

      & h1 {

        font-weight: bold;
        font-size: $logoSize;
      }
    }

    & .sidebar-items {
      margin-left: 2.5rem;
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
      background: none;

      & a {
        background: none;
        color: $fColor;
        text-decoration: none;
        font-size: 1rem;

        &:hover {
          transform: scale(110%);
          transition: all .3s ease-in-out;
        }

        &:focus {
          color: $activeColor;
          transform: scale(110%);
          transition: all .3s ease-in-out;
        }
      }

    }
  }
}